* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.holder-shadow::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1; }

#person {
  position: absolute;
  left: 10%;
  width: 100%;
  top: 0; }

#bus {
  position: absolute;
  left: 22%;
  width: 100%;
  top: 0; }

#info {
  position: absolute;
  left: 35%;
  width: 100%;
  top: 0; }

#career {
  position: absolute;
  left: 43%;
  width: 100%;
  top: 0; }

.top-bar {
  border: 1px solid #ddd; }
  .top-bar .top-main {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between; }
    .top-bar .top-main .top-hold {
      display: flex;
      border-right: 1px solid #ddd; }
      .top-bar .top-main .top-hold .top-holder {
        padding-top: 10px; }
      .top-bar .top-main .top-hold .top-lik {
        padding-top: 10px; }
        .top-bar .top-main .top-hold .top-lik a {
          text-decoration: none;
          color: #00a25a;
          padding: 0 12px; }
    .top-bar .top-main .top-cont {
      display: flex;
      gap: 20px; }
      .top-bar .top-main .top-cont img {
        width: 18px;
        padding-top: 1px; }
      .top-bar .top-main .top-cont span {
        padding-top: 10px; }
        .top-bar .top-main .top-cont span a {
          text-decoration: none;
          color: #333333;
          font-size: 15px; }
      .top-bar .top-main .top-cont .contact {
        padding-top: 10px; }
        .top-bar .top-main .top-cont .contact a {
          text-decoration: none;
          color: #333333;
          font-size: 15px; }
      .top-bar .top-main .top-cont .login {
        display: flex;
        background-color: #ffaf3c;
        color: #333333;
        padding: 5px 24px;
        font-weight: 500;
        font-size: 14px; }
        .top-bar .top-main .top-cont .login .loog {
          padding: 8px; }
          .top-bar .top-main .top-cont .login .loog a {
            text-decoration: none;
            color: #333333; }
      .top-bar .top-main .top-cont .lan {
        display: flex; }
        .top-bar .top-main .top-cont .lan .lan-main {
          padding: 7px; }
          .top-bar .top-main .top-cont .lan .lan-main img {
            width: 15px; }
        .top-bar .top-main .top-cont .lan .lan-lik {
          padding: 10px 0 0 6px; }
          .top-bar .top-main .top-cont .lan .lan-lik a {
            text-decoration: none;
            color: #333333; }
      .top-bar .top-main .top-cont .moon {
        padding-top: 9px; }
        .top-bar .top-main .top-cont .moon img {
          width: 17px; }

header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin: auto;
  width: 100%;
  max-width: 1170px;
  padding: 20px 0; }
  header .head-hold img {
    width: 310px;
    height: 70px; }
  header .nav-bar {
    z-index: 11; }
    header .nav-bar li {
      padding: 25px 0 0 18px;
      display: inline-block;
      list-style: none; }
      header .nav-bar li a {
        text-decoration: none;
        color: #333333;
        font-size: 16px; }
        header .nav-bar li a .fal {
          padding-left: 6px;
          font-weight: 500; }
        header .nav-bar li a img {
          padding-top: 2px; }
      header .nav-bar li .nav-pos .nav-links {
        background-color: whitesmoke;
        border-radius: 3px;
        position: absolute;
        top: 120px;
        left: 40%;
        display: none;
        border: 1px solid #ddd; }
        header .nav-bar li .nav-pos .nav-links li {
          display: block;
          width: 100%;
          padding: 10px 0; }
          header .nav-bar li .nav-pos .nav-links li a {
            padding: 10px;
            border-bottom: 1px solid #ddd; }
            header .nav-bar li .nav-pos .nav-links li a:hover {
              color: #000000;
              font-weight: bold; }
      header .nav-bar li:hover .nav-links {
        display: block; }

.slider {
  position: relative; }
  .slider .slider-hold .slid-pos {
    position: relative; }
    .slider .slider-hold .slid-pos img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      z-index: -1; }
    .slider .slider-hold .slid-pos .overlay {
      position: absolute;
      top: 80px;
      left: 80px; }
      .slider .slider-hold .slid-pos .overlay h1 {
        color: #ffffff;
        font-size: 45px;
        color: #f7f7f7;
        width: 650px; }
        .slider .slider-hold .slid-pos .overlay h1 span {
          color: #ffaf3c; }
      .slider .slider-hold .slid-pos .overlay h5 {
        font-size: 20px;
        padding: 5px 0;
        color: #f7f7f7;
        width: 550px; }
      .slider .slider-hold .slid-pos .overlay .btn-1 {
        padding-top: 10px; }
        .slider .slider-hold .slid-pos .overlay .btn-1 button {
          outline: none;
          border: none;
          background-color: #00a25a;
          color: #ffffff;
          padding: 13px 20px;
          width: 200px;
          font-size: 15px; }
          .slider .slider-hold .slid-pos .overlay .btn-1 button:hover {
            background-color: #105f3b; }
      .slider .slider-hold .slid-pos .overlay .bt-2 {
        padding-top: 10px;
        display: flex;
        gap: 10px; }
        .slider .slider-hold .slid-pos .overlay .bt-2 .bt-1 {
          padding-top: 10px; }
          .slider .slider-hold .slid-pos .overlay .bt-2 .bt-1 button {
            outline: none;
            border: none;
            background-color: #00a25a;
            color: #ffffff;
            padding: 13px 20px;
            width: 200px;
            font-size: 15px; }
            .slider .slider-hold .slid-pos .overlay .bt-2 .bt-1 button:hover {
              background-color: #105f3b; }
        .slider .slider-hold .slid-pos .overlay .bt-2 .bt-2 button {
          outline: none;
          border: none;
          background-color: transparent;
          color: #ffffff;
          padding: 13px 20px;
          border: 1px solid white;
          width: 200px;
          font-size: 15px; }
          .slider .slider-hold .slid-pos .overlay .bt-2 .bt-2 button:hover {
            background-color: #ffffff;
            color: #00a25a; }

.slick-dots {
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 38%;
  justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style: none; }
  .slick-dots li {
    padding: 0 4px; }
  .slick-dots button {
    outline: none;
    border: none;
    display: block;
    width: 35px;
    height: 3px;
    border: 1px solid #ddd;
    background-color: transparent;
    text-indent: -9999px; }

li.slick-active button {
  outline: none;
  border: none;
  background-color: #00a25a; }

.feature {
  position: absolute;
  left: 90px;
  bottom: 0px;
  padding: 10px; }
  .feature .feature-main {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-around; }
    .feature .feature-main .feat-holder {
      text-align: center;
      width: 100%; }
      .feature .feature-main .feat-holder img {
        width: 18%;
        object-fit: cover; }
      .feature .feature-main .feat-holder .content {
        padding: 4px 0; }
        .feature .feature-main .feat-holder .content p {
          color: #ffffff; }

.card {
  background-color: #f9f9f9;
  padding-bottom: 40px; }
  .card .card-main {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px;
    padding-top: 10%; }
    .card .card-main .card-grd {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      row-gap: 80px; }
      .card .card-main .card-grd .card-content {
        position: relative;
        text-align: center;
        border: 1px solid #ddd;
        background-color: #ffffff;
        border-radius: 5px;
        line-height: 30px;
        padding-top: 45px; }
        .card .card-main .card-grd .card-content:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }
        .card .card-main .card-grd .card-content img {
          padding: 20px 0; }
        .card .card-main .card-grd .card-content .crd-head {
          padding-bottom: 10px; }
          .card .card-main .card-grd .card-content .crd-head h5 {
            color: #00a25a;
            font-size: 18px;
            font-weight: 600; }
        .card .card-main .card-grd .card-content .card-desc p {
          color: #656565;
          font-size: 16px;
          padding: 0 15px; }
        .card .card-main .card-grd .card-content .lik {
          padding: 30px 0 15px 0; }
          .card .card-main .card-grd .card-content .lik a {
            color: #00a25a;
            text-decoration: none; }
        .card .card-main .card-grd .card-content .btn-2 {
          position: absolute;
          top: -58px;
          left: 120px; }
          .card .card-main .card-grd .card-content .btn-2 button {
            border: none;
            outline: none;
            border: 1px solid #ddd;
            border-radius: 60px;
            background-color: #ffffff;
            width: 120px;
            height: 120px; }
            .card .card-main .card-grd .card-content .btn-2 button img {
              width: 45%; }

.down .down-grd {
  padding: 0 15px;
  margin: auto;
  width: 100%;
  max-width: 1170px;
  display: flex;
  gap: 40px; }
  .down .down-grd .down-main {
    padding-top: 17%; }
    .down .down-grd .down-main .down-cont h1 {
      padding-bottom: 30px;
      font-size: 38px;
      color: #00a25a; }
    .down .down-grd .down-main .down-para {
      line-height: 25px; }
      .down .down-grd .down-main .down-para p {
        padding-bottom: 15px;
        color: #333333; }
    .down .down-grd .down-main .both {
      display: flex;
      gap: 20px; }

.plan {
  box-shadow: rgba(0, 0, 0, 0.16) 1px 0 4px;
  padding: 20px 0 0 0; }
  .plan .plan-main {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px; }
    .plan .plan-main .plan-cont {
      text-align: center;
      padding: 30px 0; }
      .plan .plan-main .plan-cont h1 {
        color: #00a25a;
        font-size: 40px; }
    .plan .plan-main .plan-crd {
      display: flex;
      justify-content: space-around;
      gap: 40px; }
    .plan .plan-main .plan-1 {
      border: 1px solid #ddd; }
      .plan .plan-main .plan-1 img {
        object-fit: cover; }
      .plan .plan-main .plan-1 .plan-head {
        padding: 20px 10px 10px 20px; }
        .plan .plan-main .plan-1 .plan-head h5 {
          font-size: 17px;
          color: #00a25a;
          font-weight: 600; }
      .plan .plan-main .plan-1 .plan-para p {
        padding: 15px;
        font-size: 15px;
        color: #333333; }
      .plan .plan-main .plan-1 .plan-lik {
        padding: 0 0 15px 20px; }
        .plan .plan-main .plan-1 .plan-lik a {
          color: #00a25a;
          text-decoration-color: #ffffff; }
          .plan .plan-main .plan-1 .plan-lik a:hover {
            text-decoration-color: #00a25a; }

.latest .latest-main {
  padding: 0 15px;
  margin: auto;
  width: 100%;
  max-width: 1170px;
  padding: 30px 0;
  text-align: center; }
  .latest .latest-main h1 {
    color: #00a25a;
    font-size: 42px;
    padding: 20px 0; }
  .latest .latest-main .latest-grd {
    display: grid;
    grid-template-columns: 700px 500px;
    grid-gap: 30px; }
    .latest .latest-main .latest-grd .latest-1 .latest-grd-1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px; }
      .latest .latest-main .latest-grd .latest-1 .latest-grd-1 .latest-hold img {
        width: 100%;
        object-fit: cover; }
      .latest .latest-main .latest-grd .latest-1 .latest-grd-1 .latest-hold .latest-para {
        padding: 10px 10px 0 10px;
        height: 80px; }
        .latest .latest-main .latest-grd .latest-1 .latest-grd-1 .latest-hold .latest-para p {
          color: #105f3b;
          font-weight: 600; }
      .latest .latest-main .latest-grd .latest-1 .latest-grd-1 .latest-hold .latest-time img {
        width: 15px; }
      .latest .latest-main .latest-grd .latest-1 .latest-grd-1 .latest-hold .latest-time span {
        color: #8f8f8f;
        font-size: 16px; }
    .latest .latest-main .latest-grd .latest-1 .latest-slider .latest-slider-main .latest-slider-hold img {
      width: 100%;
      object-fit: cover; }
  .latest .latest-main .lik {
    padding: 20px; }
    .latest .latest-main .lik a {
      text-decoration-color: #ffffff;
      color: #00a25a; }
      .latest .latest-main .lik a .fal {
        font-weight: 500; }

.way-main-1 {
  background-color: #f9f9f9;
  padding: 30px 0; }
  .way-main-1 .way {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px; }
    .way-main-1 .way .way-main {
      padding-top: 40px; }
      .way-main-1 .way .way-main .way-content {
        text-align: center; }
        .way-main-1 .way .way-main .way-content h1 {
          color: #00a25a;
          font-size: 42px; }
        .way-main-1 .way .way-main .way-content p {
          padding: 10px;
          color: #656565;
          line-height: 25px;
          margin: 0 auto;
          width: 500px; }
    .way-main-1 .way .way-back .way-grd {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      text-align: center;
      padding-top: 20px;
      grid-gap: 20px; }
      .way-main-1 .way .way-back .way-grd .way-cont {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #ffffff;
        padding: 30px 30px; }
        .way-main-1 .way .way-back .way-grd .way-cont .para {
          padding-top: 18px; }
          .way-main-1 .way .way-back .way-grd .way-cont .para p {
            color: #333333; }

.sup {
  padding: 20px 0 60px 0; }
  .sup .sup-main {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px; }
    .sup .sup-main .sup-hold {
      text-align: center;
      padding-top: 60px; }
      .sup .sup-main .sup-hold h1 {
        font-size: 40px;
        color: #00a25a; }
  .sup .sup-back {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px;
    padding-top: 20px; }
    .sup .sup-back .sup-grd {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px; }
      .sup .sup-back .sup-grd .sup-crd {
        border: 1px solid #ddd; }
        .sup .sup-back .sup-grd .sup-crd img {
          width: 100%;
          object-fit: cover; }
        .sup .sup-back .sup-grd .sup-crd .sup-head {
          padding: 10px 15px; }
          .sup .sup-back .sup-grd .sup-crd .sup-head h5 {
            padding-left: 5px;
            font-size: 18px;
            color: #105f3b; }
        .sup .sup-back .sup-grd .sup-crd .sup-para p {
          padding-left: 20px;
          font-size: 14px;
          color: #656565; }
        .sup .sup-back .sup-grd .sup-crd .sup-lik {
          padding: 20px; }
          .sup .sup-back .sup-grd .sup-crd .sup-lik a {
            color: #00a25a;
            text-decoration-color: #ffffff; }
            .sup .sup-back .sup-grd .sup-crd .sup-lik a:hover {
              text-decoration-color: #00a25a; }

.news {
  background-color: #15804f;
  background-image: url(/images/newsl.svg);
  background-position: 98% 100%;
  background-repeat: no-repeat;
  padding: 30px 0; }
  .news .new-main {
    padding-top: 40px;
    text-align: center; }
    .news .new-main h1 {
      color: #ffffff;
      font-size: 42px; }
    .news .new-main h5 {
      padding: 20px 0;
      color: #ffffff;
      font-size: 16px; }
  .news .inpt {
    padding: 20px 0;
    position: relative; }
    .news .inpt input {
      outline: none;
      border: none;
      background-color: #ffffff;
      opacity: .3;
      padding: 15px;
      width: 450px; }
    .news .inpt :focus {
      background-color: #ffffff;
      z-index: 1; }
    .news .inpt ::placeholder {
      color: #105f3b;
      font-size: 16px; }
    .news .inpt .icon {
      position: absolute;
      top: 20px;
      right: 33%; }
      .news .inpt .icon button {
        outline: none;
        border: none;
        padding: 12px;
        background-color: #ffaf3c; }
        .news .inpt .icon button .fas {
          color: #ffffff;
          font-weight: bold;
          font-size: 22px; }

.banner {
  text-align: center;
  padding: 40px 0; }

.footer {
  background-color: #000000; }
  .footer .footer-main {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .footer .footer-main .footer-cont h4 {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 18px;
      padding-bottom: 10px; }
    .footer .footer-main .footer-cont .lik a {
      color: #ffffff;
      padding: 10px 0;
      font-size: 13px;
      display: block;
      text-decoration: none;
      width: 250px; }
      .footer .footer-main .footer-cont .lik a:hover {
        color: #00a25a; }
  .footer .footer-imag {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px;
    padding: 30px 0; }
    .footer .footer-imag .foot-1 {
      display: flex;
      justify-content: space-between; }
      .footer .footer-imag .foot-1 .footer-grd {
        display: flex;
        gap: 20px; }
      .footer .footer-imag .foot-1 .bt-3 {
        display: flex;
        gap: 20px; }
        .footer .footer-imag .foot-1 .bt-3 .bt-i-1 button {
          outline: none;
          border: none;
          background-color: transparent;
          border: 2px solid #ffffff;
          color: #ffffff;
          border-radius: 50px;
          width: 40px;
          cursor: pointer;
          height: 40px; }
          .footer .footer-imag .foot-1 .bt-3 .bt-i-1 button:hover {
            background-color: #ffffff;
            color: #00a25a; }
          .footer .footer-imag .foot-1 .bt-3 .bt-i-1 button .fab {
            font-size: 15px; }
            .footer .footer-imag .foot-1 .bt-3 .bt-i-1 button .fab:hover {
              color: #00a25a; }

.foot-back {
  background-color: #000000;
  padding: 30px 0; }
  .foot-back .foot-last {
    padding: 0 15px;
    margin: auto;
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between; }
    .foot-back .foot-last .foot-last-main p {
      color: #ffffff; }
      .foot-back .foot-last .foot-last-main p a {
        color: #ffffff; }
    .foot-back .foot-last .foot-last-2 p {
      color: #ffffff; }

/*# sourceMappingURL=styles.css.map */
